<div class="alert alert-primary" role="alert">
  Part 1- Two way Binding and String Interpolation
</div>
<two-way-binding-practice></two-way-binding-practice>

<div class="alert alert-primary" role="alert">
  Part2 -Reusable Components (@Input @Output EventEmitter)
</div>
<reusable-component-practice
  [is-Favourite]="post.favourite"
  (change)="onFavouriteChanged()"
></reusable-component-practice>
<br />
<div class="alert alert-primary" role="alert">
  Part3- Directives(ngIf,ngFor,ngSwitch,ngStyle)
</div>
<br />
<directives-practice></directives-practice>
